<div class="main-container" >

    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Covid-19 simple data visualization
                </mat-panel-title>
                <mat-panel-description>
                    General infos
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h1>Covid19 outbreak | simple data visualization</h1>
            <span class="description">
                <p>
                    I came to this project in order to get a better view of quantitive information about the rapidity of spreading of Covid19 in Italy, and in the World.
                    It allows drawing charts about the spreading of Covid19: 
                    absolute data, rapidity of spread, and acceleration.
                    It can also be used to compare data between countries/state.
                    These charts could absolutely lack any scientific meaning: 
                    I'm not an epidemiology expert, but I would have them to compare Italy's outbreak crisis
                    with other countries 
                    and to have spreading velocity which is not currently announced by news media.
                    Initially, I started to draw them manually through 
                    <a target="_blank" href="https://www.gnu.org/software/octave/">Octave</a>. 
                    Based on the data-set available at
                    <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">CSSEGISAndData</a> and, for Italy data, the data-set available from 
                    <a href="https://github.com/pcm-dpc/COVID-19">Protezione Civile Italiana</a>, 
                    I just developed this simple front-end in a few hours with the hope it 
                    can be useful for someone else during this COVID-19 outbreak, in Italy and in the world.
                    However, I'm not a front-end developer and I'm sorry for some hacky 
                    tricks and bugs: contributions are welcome :).
                </p>
                <p>
                    The project is based on Angular 9, with Material, papaparse and canvasJs 
                    and it is distributed under the terms of 
                    <a href="https://github.com/aleskandro/covid19-charts-spreading-rapidity/blob/master/LICENSE" 
                        target="_blank">GPLv3</a> license.
                </p>
                <p>
                    The code and the limitations of this project are available at 
                    <a href="https://github.com/aleskandro/covid19-charts-spreading-rapidity" target="_blank">Github</a>.
                </p>
            </span>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Charts generator
                </mat-panel-title>
                <mat-panel-description>
                    <b>Open this card to generate custom charts</b>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="generatorFormGroup" (ngSubmit)="generate(generatorFormGroup)" *ngIf="initialized">
                <div class="selector first">
                    <mat-checkbox class="full-width-field pad" formControlName="firstWorld" 
                                                          (click)="setWorldValidator(generatorFormGroup)">
                        World data
                    </mat-checkbox>
                    <mat-form-field class="full-width-field">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="firstCountry" required (selectionChange)="countryChanged($event)">
                            <mat-option *ngFor="let country of svc.getCountries() | sortBy:'asc'" [value]="country">{{country}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div >
                        <mat-checkbox class="full-width-field pad" formControlName="firstAllStates" 
                                                                   (click)="setStateValidator(generatorFormGroup)">
                            Aggregate 
                            all states for {{generatorFormGroup.get('firstCountry').value}}
                        </mat-checkbox>
                        <mat-form-field class="full-width-field">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="firstState">
                                <mat-option 
                                    *ngFor="let state of 
                                        svc.getStatesOfCountry(generatorFormGroup.get('firstCountry').value)
                                        | sortBy:'asc'" 
                                    [value]="state">
                                        {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="time-displacement">
                        <mat-label>Time displacement</mat-label>
                        <mat-slider class="full-width-field"
                            thumbLabel
                            tickInterval="1" [min]="-svc.time.length + 2" [max]="svc.time.length - 2"
                            formControlName="firstDisplacement">
                        </mat-slider>
                    </div>
                </div>

                <div>
                    <button mat-raised-button color="primary" class="btn btn-responsive" [disabled]="disabledSubmit" type="submit">Add to graph</button>
                    <button type="button" mat-raised-button class="btn btn-responsive" color="warn" (click)="resetUI()">Clean all</button>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion *ngIf="initialized && dataPoints.length > 0">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Charts
                </mat-panel-title>
                <mat-panel-description >
                    Last update:&nbsp;<b>{{getDate(dataPoints[0].time.slice(-1).pop()) | date:'fullDate'}}</b>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div [hidden]="hideCharts">
                <mat-tab-group
                        (selectedIndexChange)="selectedTabChanged($event)">
                    <mat-tab label="Last data" class="table-data">
                        <mat-grid-list [cols]="breakpoint" rowHeight="280px" (window:resize)="onResize($event)">
                            <mat-grid-tile *ngFor="let d of dataPoints; index as i">
                                <div class="last-data">
                                    <div class="country">
                                        {{d.confirmed.country}}
                                        <span *ngIf="d.confirmed.state != null">
                                            | {{d.confirmed.state}}
                                        </span>
                                    </div>
                                    <div class="confirmed">
                                        Confirmed: <b>{{d.confirmed.data.slice(-1).pop()}}</b>
                                    </div>
                                    <div class="recovered">
                                        Recovered: <b>{{d.recovered.data.slice(-1).pop()}}</b>
                                    </div>
                                    <div class="deaths">
                                        Deaths:  <b>{{d.deaths.data.slice(-1).pop()}}</b>
                                    </div>
                                    <div class="remove">
                                        <button mat-fab 
                                            color="white" 
                                            type="button" 
                                            (click)="remove(i)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-tab>
                    <mat-tab label="Absolute" >
                        <div class="chart-cont" [innerHtml]="absoluteHtml"></div>
                    </mat-tab>
                    <mat-tab label="Rapidity" [innerHtml]="rapidityHtml">
                        <div class="chart-cont" [innerHtml]="rapidityHtml"></div>
                    </mat-tab>
                    <mat-tab label="Acceleration" [innerHtml]="accelHtml">
                        <div class="chart-cont" [innerHtml]="accelHtml"></div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<router-outlet></router-outlet>
