<div class="main-container" >

    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Covid-19 simple data visualization
                </mat-panel-title>
                <mat-panel-description>
                    General infos
                </mat-panel-description>
            </mat-expansion-panel-header>

            <h1>Covid-19 simple data visualization</h1>
            <span>
                The lack of comparative and useful information by the news media in Italy brought 
                me to this simple front-end project.
                It allows to draw charts about the spreading of Covid19: 
                absolute data, rapidity of spread, and acceleration. 
                It also permits to compare data between countries/state.
                These charts could absoletely lack scientific meaning: 
                I'm not an epidemiology expert. But I would have them in these days and, initially, 
                I started to make them manually through Octave. Based on the data-set available from
                <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">CSSEGISAndData</a> repository, 
                I just developed this simple front-end in a few hours.
                Moreover, I'm not a front-end developer, so I'm sorry for some hacky 
                tricks and bugs, contributions are welcome :).

                The project is based on Angular 9, with Material, papaparse and canvasJs 
                and it is distributed under the terms of 
                <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPLv3</a> license.
            </span>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Charts generator
                </mat-panel-title>
                <mat-panel-description>
                    Select time-series to draw charts
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="generatorFormGroup" (ngSubmit)="generate(generatorFormGroup)" *ngIf="initialized">
                <div class="selector first">
                    <mat-checkbox class="full-width-field pad" formControlName="firstWorld" 
                                                          (click)="setWorldValidator(generatorFormGroup)">
                        World data
                    </mat-checkbox>
                    <mat-form-field class="full-width-field">
                        <mat-label>First country</mat-label>
                        <mat-select formControlName="firstCountry" required (selectionChange)="countryChanged($event)">
                            <mat-option *ngFor="let country of svc.getCountries() | sortBy:'asc'" [value]="country">{{country}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div >
                        <mat-checkbox class="full-width-field pad" formControlName="firstAllStates" 
                                                                   (click)="setStateValidator(generatorFormGroup)">
                            Aggregate 
                            all states for {{generatorFormGroup.get('firstCountry').value}}
                        </mat-checkbox>
                        <mat-form-field class="full-width-field">
                            <mat-label>First country's state</mat-label>
                            <mat-select formControlName="firstState">
                                <mat-option 
                                    *ngFor="let state of 
                                        svc.getStatesOfCountry(generatorFormGroup.get('firstCountry').value)
                                        | sortBy:'asc'" 
                                    [value]="state">
                                        {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="time-displacement">
                        <mat-label>Time displacement (first)</mat-label>
                        <mat-slider class="full-width-field"
                            thumbLabel
                            tickInterval="1" [min]="-svc.time.length + 2" [max]="svc.time.length - 2"
                            formControlName="firstDisplacement">
                        </mat-slider>
                    </div>
                </div>

                <div>
                    <button mat-raised-button color="primary" class="btn btn-responsive" [disabled]="disabledSubmit" type="submit">Add to graph</button>
                    <button type="button" mat-raised-button class="btn btn-responsive" color="warn" (click)="resetUI()">Clean all</button>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>

    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Charts
                </mat-panel-title>
                <mat-panel-description *ngIf="initialized && dataPoints.length > 0">
                    <b>Last update</b>: {{getDate(dataPoints[0].time.slice(-1).pop()) | date:'fullDate'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div [hidden]="hideCharts">
                <mat-tab-group 
                           (selectedIndexChange)="selectedTabChanged($event)">
                    <mat-tab label="Last data" class="table-data" *ngIf="initialized && dataPoints.length > 0">
                        <mat-grid-list [cols]="breakpoint" rowHeight="200px" (window:resize)="onResize($event)">
                            <mat-grid-tile *ngFor="let d of dataPoints" >
                                <div class="last-data">
                                    <div class="country">
                                        {{d.confirmed.country}}
                                        <span *ngIf="d.confirmed.state != null">
                                            &nbsp;-&nbsp;{{d.confirmed.state}}
                                        </span>
                                    </div>
                                    <div class="confirmed">
                                        Confirmed: <b>{{d.confirmed.data.slice(-1).pop()}}</b>
                                    </div>
                                    <div class="recovered">
                                        Recovered: <b>{{d.recovered.data.slice(-1).pop()}}</b>
                                    </div>
                                    <div class="deaths">
                                        Deaths:  <b>{{d.deaths.data.slice(-1).pop()}}</b>
                                    </div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-tab>
                    <mat-tab label="Absolute" >
                        <div [innerHtml]="absoluteHtml"></div>
                    </mat-tab>
                    <mat-tab label="Rapidity" [innerHtml]="rapidityHtml">
                        <div [innerHtml]="rapidityHtml"></div>
                    </mat-tab>
                    <mat-tab label="Acceleration" [innerHtml]="accelHtml">
                        <div [innerHtml]="accelHtml"></div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<router-outlet></router-outlet>
